
*{padding:0px; margin:0px;}
.accToggler{
	margin: 3px auto;
	padding: 3px;
	width: 400px;
	background: #acc95f;
	color: #f4f4f4;
	border: 1px solid #fff;
	cursor: pointer;
}
.accContent{
	margin: 0px auto;
	width: 400px;
}
.accToggler_x{
	margin: 3px auto;
	padding: 3px;
	width: 400px;
	background: #acc95f;
	color: #f4f4f4;
	border: 1px solid #fff;
	cursor: pointer;
}
.accContent_x{
	margin: 0px auto;
	width: 400px;
}

