div#div1{ 
position:fixed; 
top:0; 
left:0; 
bottom:0; 
right:0; 
z-index:-1; 
} 
div#div1 > img { 
height:100%; 
width:100%; 
border:0; 
} 
a:link {
    color:#b9b612;
    text-decoration:underline;
    }
    a:visited {
    color:#00FF00;
    text-decoration:none;
    }
    a:hover {
    color:#000000;
    text-decoration:none;
    }
    a:active {
    color:#FFFFFF;
    text-decoration:none;
    }
body { font-family:Verdana; font-size:14px; margin:0; line-height:150%;}
#container {margin:0 auto; width:900px;}
#header { padding:1px; background:#b9b612; margin-bottom:1px;}
#menu { height:30px; background:#09c; margin-bottom:5px;}
#mainContent { background:url(bg.gif) right 0 repeat-y; overflow:auto;zoom:1; margin-bottom:5px;}
#sidebar { float:right; width:200px; background:#9ff;}
#content { float:left; width:675px; padding:10px; background:#cff;}
#footer { height:60px; background:#6cf;}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}