
body{
font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif}
.modal-open {
  overflow: initial !important;
}
hr{
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
border-style: inset;
border-width: 1px;
}

/*div.big > a:hover{
text-decoration : none 
}*/
.returnTop {
    position: fixed;
    _position: absolute;
    right: 5%;
    bottom: 5%;
    _bottom: auto;
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid #3592DD;
    border-radius:4px;
    background: #fff;
    box-shadow: 0 0 5px #F5F5F5;
    text-indent: -9999px;
    cursor: pointer;
	z-index:1000;
}
img {
    background:url('../upfile/loading.gif') no-repeat center;
	min-width:40px;
	min-height:40px;
}
.returnTop .s {
    position: absolute;
    top: -2px;
    _top: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent #3592DD;
    border-style: dashed dashed solid;
}
.returnTop .b {
    position: absolute;
    top: 18px;
    left: 16px;
    height: 12px;
    width: 8px;
    background: #3592DD;
}
div#music{
top: 220px;
position: fixed;
z-index:119; 
left: -220px;
text-align: center;
}
div#music
{
transition: left 1s;
-moz-transition: left 1s;	/* Firefox 4 */
-webkit-transition: left 1s;	/* Safari 和 Chrome */
-o-transition: left 1s;	/* Opera */
}
div#music:hover{
top: 220px;
position: fixed;
z-index:119; 
left: 0px;
text-align: center;
}
.s-skin-container {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: -10;
background-position: center 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
}

.middlediv{
margin-left:auto;
margin-right:auto;
position:relative;
}

@media screen and (max-width:600px) {
  div#music{
  	display:none;
  }
}